
name: deployment

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to deploy'
        required: true
        default: 'main'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy LangBuilder & OpenWebUI via SSH
        timeout-minutes: 10
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 54.221.139.4
          command_timeout: 10m
          username: ubuntu
          key: ${{ secrets.DEV_SSH_KEY }}
          script: |
            set -ex
            source ~/.profile
            export BRANCH="${{ github.event.inputs.branch }}"
            export BASE_DIR="/home/ubuntu/cg_langbuilder/"
            export REPO_DIR="$REPO_DIR/LangBuilder"
            export OPENWEBUI_DIR="$REPO_DIR/openwebui"
            export OPENWEBUI_BACKEND_DIR="$OPENWEBUI_DIR/backend"
            export LANGBUILDER_DIR="$REPO_DIR/langbuilder"

            cd "$BASE_DIR"
            rm -rf LangBuilder/
            git clone https://github.com/CloudGeometry/LangBuilder.git
            cd "$REPO_DIR"
            git fetch origin
            git checkout "$BRANCH"
            git pull origin "$BRANCH"
            
            set +e
            if [ -f /tmp/openwebui_backend.pid ]; then
              kill $(cat /tmp/openwebui_backend.pid) || true
              # rm /tmp/openwebui_backend.pid
            fi

            if [ -f /tmp/langbuilder.pid ]; then
              kill $(cat /tmp/langbuilder.pid) || true
              # rm /tmp/langbuilder.pid
            fi
            set -e
            

            # Cargar nvm y usar Node >=20
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
            nvm use 22 || nvm install 22 
            node -v
            npm -v

            cd "$OPENWEBUI_DIR"
            npm install --legacy-peer-deps
            npm run build

            cd "$OPENWEBUI_BACKEND_DIR"
            source ~/miniconda3/etc/profile.d/conda.sh
            conda activate open-webui
            nohup bash dev.sh > /tmp/openwebui_backend.log 2>&1 &
            conda deactivate

            cd "$LANGBUILDER_DIR"
            nohup make run_cli > /tmp/langbuilder.log 2>&1 &

            echo "Deploy completo en branch $BRANCH"
            tail -n 20 /tmp/openwebui_backend.log || true
            tail -n 20 /tmp/langbuilder.log || true

